<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ru.icl.test.mappers.MessageMapper">
       
    <resultMap type="Message" id="MessageResult">
        <id property="id" column="id"/>
        <result property="message" column="message"/>
        <result property="clientid" column="clientid"/>
    </resultMap>    
    
    <insert id="insertMessage" parameterType="Message" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO messages (message, clientid)
        VALUES(#{message}, #{clientid})
    </insert>

    <select id="getAllMessages" resultMap="MessageResult">
        SELECT id, clientid, message FROM messages
    </select>
    
    <delete id="deleteMessage" parameterType="int">
        DELETE FROM messages WHERE id = #{id}
    </delete>

</mapper>


